<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uustop.project.system.student.mapper.StudentMapper">

    <resultMap type="Student" id="StudentResult">
        <id property="stuId" column="stu_id"/>
        <result property="stuName" column="stu_name"/>
        <result property="classId" column="classId"/>
        <result property="className" column="classname"/>
        <result property="stuAge" column="stu_age"/>
        <result property="stuSex" column="stu_sex"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectStudentContactVo">
        select distinct s.stu_id,s.stu_name,s.stu_age,s.stu_sex,s.status,s.del_flag
        from sys_studentinfo s
    </sql>

    <sql id="selectStudentVo">
		selects.stu_id,s.stu_name,s.stu_age,s.stu_sex,s.status,s.del_flag
        from sys_student s
	</sql>

    <select id="selectStudentList" parameterType="Student" resultMap="StudentResult">
        <include refid="selectStudentContactVo"/>
        where s.del_flag = '0'
        <if test="stuName !=null and stuName !=''">
            and r.stu_name like concat('%',#{stuName},'%')
        </if>
        <if test="status != null and status != ''">
            AND s.status = #{status}
        </if>

    </select>

    <select id="selectStudentById" parameterType="int" resultMap="StudentResult">
        <include refid="selectStudentContactVo"/>
        where s.del_flag='0' and s.stu_id=#{stuId}
    </select>
    
    <insert id="insertStudent" parameterType="Student">
        insert into sys_studentinfo(

        )
    </insert>

</mapper> 